body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header, .topinfo, .midinfo, .bottominfo, .sign-up, .footer {
    flex: 1;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    gap: 200px;
    
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    
    font-size: 18px;
    display: flex;
    gap: 14px;
    
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    
}


.topinfo {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 60px 240px;
    gap: 100px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.topinfo p {
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
    
}

.topinfo button {
    padding: 3px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 6px 24px;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
}

.midinfo {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

h2 {
    font-weight: bold;
    color: #1F2937;
    font-size: 36px;
}

.imagecontainer{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.infoimage {
    flex-basis: 150px;
    
}

.infoimage img {
    border: solid #3882F6 4px;
    border-radius: 10%;
}

.bottominfo {
    background-color: #E5E7EB;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}
.leftquote{
    width: 600px;
    
}

.leftquote p {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;


}

.rightquote {
    text-align: end;

}

.rightquote p {
    font-weight: bolder;
    font-size: 20px;
}


.sign-up {
    padding: 100px 60px;
    display: flex;
    justify-content: center;
}

.sign-up-window {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    padding: 10px 60px;
    align-items: center;
    gap: 80px;
}

.sign-up-window button {
    padding: 3px 20px;
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border: 3px solid white;
    border-radius: 8px;
    font-weight: bold;
}

.sign-up-window h3, .sign-up-window p {
    color: white;
}

.sign-up-window h3 {
    margin-bottom: 0;
}

.sign-up-window p {
    margin-top: 4px;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    
    
}

.footer p {
    color: #E5E7EB;
}

