body {
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    
}

.links {
    /* background-color: rgb(99, 99, 126); */
    display: flex;
    gap: 14px;
    
}

li, a{
    list-style: none;
    text-decoration: none;
    color: black;
}


.topinfo {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
}

.topinfo button {
    padding: 3px 20px;
}

.midinfo {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
}

.imagecontainer{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.infoimage {
    flex-basis: 150px;
}

.infoimage img {
    border: solid blue 4px;
    border-radius: 10%;
}

.bottominfo {
    background-color: greenyellow;

}

.sign-up {
    background-color: red;
}

.footer {

}